src/flows/Create_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Show_Not_Find_Email_Error</name>
        <label>Show Not Find Email Error</label>
        <locationX>209</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>Not_Find_Email_Error_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Review</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Is_Finded</name>
        <label>Contact Is Finded</label>
        <locationX>373</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selectc_Hotel_Window</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Not_Find_Email_Error</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>All_Hotels</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Hotel__c</object>
        <outputAssignments>
            <assignToReference>Selected_Hotel_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rooms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Hotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Hotel_Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Selected_Room_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Create Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Hotel_Review</name>
        <label>Create Hotel Review</label>
        <locationX>970</locationX>
        <locationY>82</locationY>
        <connector>
            <targetReference>Thank_You_Window</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>User_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Rating__c</field>
            <value>
                <elementReference>Hotel_Rating_Slider_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel__c</field>
            <value>
                <elementReference>Selected_Hotel_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Selected_Hotel_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Rating__c</field>
            <value>
                <elementReference>Personal_Rating_Slider_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Rating__c</field>
            <value>
                <elementReference>Room_Rating_Slider_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Selected_Room_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review__c</field>
            <value>
                <elementReference>Description_Box</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title_Box</elementReference>
            </value>
        </inputAssignments>
        <object>Hotel_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>User_Contact</name>
        <label>User Contact</label>
        <locationX>381</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Is_Finded</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Review</name>
        <label>Create Review</label>
        <locationX>209</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Contact</targetReference>
        </connector>
        <fields>
            <name>hello_Text</name>
            <fieldText>&lt;p&gt;Привет, друг. Для того, чтобы продолжить тебе необходимо ввести Email адрес на который была оформлена аренда комнаты.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Input_Field</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>User_Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Email_Not_Find</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Пользователь не найден. Попробуйте еще раз.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Not_Find_Email_Error_Visibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Review_Window</name>
        <label>Оцените работу персонала, отель и комнату</label>
        <locationX>785</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hotel_Review_Window</targetReference>
        </connector>
        <fields>
            <name>Personal_Rating_Slider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>На сколько вы оцените работу персонала?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Personal_Rating_Slider_Value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Personal_Rating_Slider_Value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Hotel_Rating_Slider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>На сколько вы оцените отель?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Hotel_Rating_Slider_Value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Hotel_Rating_Slider_Value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Room_Rating_Slider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Room_Rating_Slider_Value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>На сколько вы оцените комнату, в которой проживали?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Room_Rating_Slider_Value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hotel_Review_Window</name>
        <label>Отзыв об отеле</label>
        <locationX>926</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Hotel_Review</targetReference>
        </connector>
        <fields>
            <name>Create_Rewviw_Text</name>
            <fieldText>&lt;p&gt;Напишите свое впечатление о комнате и отеле в целом.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title_Box</name>
            <dataType>String</dataType>
            <fieldText>Оглавление отзыва об отеле</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Box</name>
            <fieldText>Содержание отзыва об отеле</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Room_Window</name>
        <label>Выберите вашу комнату</label>
        <locationX>648</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Review_Window</targetReference>
        </connector>
        <fields>
            <name>Select_Room_Pick</name>
            <choiceReferences>Rooms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Выберите вашу комнату</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selectc_Hotel_Window</name>
        <label>Выберите отель</label>
        <locationX>522</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Room_Window</targetReference>
        </connector>
        <fields>
            <name>select_Hotel_Text</name>
            <fieldText>&lt;p&gt;Привет, {!User_Contact.FirstName}. Спасибо, что решили оставить отзыв об отеле.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Hotel_Pick</name>
            <choiceReferences>All_Hotels</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Выберите отель на который хотите оставить отзыв</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Window</name>
        <label>Спасибо за отзыв</label>
        <locationX>1048</locationX>
        <locationY>217</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;Спасибо отзыв. Нам важно ваше мнение.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>67</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Review</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Hotel_Rating_Slider_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>New_Hotel_Review</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hotel_Review__c</objectType>
    </variables>
    <variables>
        <name>Not_Find_Email_Error_Visibility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>False</elementReference>
        </value>
    </variables>
    <variables>
        <name>Personal_Rating_Slider_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Room_Rating_Slider_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Hotel_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Room_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
